:root{

--gold:#d4af60;
--copper:#a65b32;

}


*{

box-sizing:border-box;

}


body{

margin:0;

background:#ca8a0056;

color:white;

font-family:"IM Fell English",serif;

}




#stars{

position:fixed;

inset:0;

z-index:-1;

}




/* COPERTINA */


.cover{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;


background:

linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.9)
),

url("assets/cover.jpg");


background-size:cover;

background-position:center;


}



.cover h1{

font-family:Cinzel;

font-size:75px;

color:var(--gold);

text-shadow:0 0 30px black;


}



.cover p{

font-size:25px;

}



.logo{

width:120px;

}



button{


background:

linear-gradient(
45deg,
var(--copper),
var(--gold)
);


border:0;

padding:14px 25px;

margin:8px;

border-radius:10px;

color:white;

cursor:pointer;

font-family:Cinzel;

transition:.3s;


}



button:hover{

transform:scale(1.05);

}




/* CODEX */


.codex{

display:none;

}



aside{

position:fixed;

width:270px;

height:100vh;

padding:30px;

background:#111;

border-right:2px solid var(--gold);

}




aside h2{

font-family:Cinzel;

color:var(--gold);

}



main{

margin-left:300px;

padding:60px;

}



/* PERGAMENA */


.paper{


display:none;


max-width:900px;


padding:60px;


background:

url("assets/parchment.jpg");


background-size:cover;


color:#28190c;


border-radius:20px;


box-shadow:

0 20px 60px black;


animation:

openPaper .7s;


}



.paper h1{


font-family:Cinzel;

font-size:45px;

color:#75451f;


}




@keyframes openPaper{


from{

opacity:0;

transform:

rotateX(20deg)
translateY(40px);

}


to{

opacity:1;

transform:none;

}

}



/* TEMA */


.light{

background:#ddd;

color:#111;

}



@media(max-width:800px){


aside{

position:relative;

width:100%;

height:auto;

}


main{

margin:0;

padding:20px;

}


.cover h1{

font-size:45px;

}


}